@model ViewModels.HomePage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="border: 1px solid green;">
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                首页
            </div>
        </div>
        <div class="row" style="background-color: red;height: 30px;">
            <div class="col-sm-12">
                <div style="width: 154px;height: 190px;border-right:1px solid grey;border-bottom: 1px solid grey;"></div>    
            </div>
        </div>
        
    </div>
    <div class="col-sm-2"></div>
</div>