@model ViewModels.ProDetails
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <div style="height: 450px;">
                使用bootstrap适用的图片轮换插件
                <img src="/Content/Image/sample.jpg"/>
            </div>
         @*   <div style="height: 300px;background-color: red;"></div>*@
        </div>
        <div class="col-md-6 col-lg-7">
            <div style="height: 450px;">
                <p>@Model.Product.Name</p>
                <p>@Model.Product.Description</p>
            </div>
            @*  <div style="height: 300px;background-color: green;"></div>*@
        </div>
    </div>
</div>

